# Distributed Data Processing -- Map Reduce

This scaffolding allows you to test your MR jobs that you've implemented for a) in `distributed_data_processing/best_movies.py` and for b) in `distributed_data_processing/haters.py`.

## a)

In [11]:
# %load_ext autoreload
# %autoreload 2
import pandas as pd
from distributed_data_processing.best_movies_2 import BestMovies

best_movies = BestMovies(args=['-r', 'inline', 'distributed_data_processing/ratings.csv', '-o', 'distributed_data_processing/top'])
with best_movies.make_runner() as runner:
    runner.run()
    # print first ten results
    top_movies = []
    for i, (key, value) in zip(range(10), best_movies.parse_output(runner.cat_output())):
        if type(value) == str:
            key, average_rating, num_ratings = value.split(',')
            top_movies.append({'movie_id': key, 'average_rating': float(average_rating), 'num_ratings': int(num_ratings.replace('\n', ''))})    
            print(i, key, value)
    display(pd.DataFrame(top_movies, index=range(1,11), columns=['movie_id', 'average_rating', 'num_ratings']))
        #

No configs specified for inline runner

0 1041 1041,4.590909090909091,11

1 3451 3451,4.545454545454546,11

2 1178 1178,4.541666666666667,12

3 1104 1104,4.475,20

4 2360 2360,4.458333333333333,12

5 1217 1217,4.433333333333334,15

6 318 318,4.429022082018927,317

7 951 951,4.392857142857143,14

8 1927 1927,4.35,10

9 922 922,4.333333333333333,27

   movie_id  average_rating  num_ratings
1      1041        4.590909           11
2      3451        4.545455           11
3      1178        4.541667           12
4      1104        4.475000           20
5      2360        4.458333           12
6      1217        4.433333           15
7       318        4.429022          317
8       951        4.392857           14
9      1927        4.350000           10
10      922        4.333333           27

# b)

In [ ]:
from distributed_data_processing.haters import Haters

movie_haters = Haters(args=['-r', 'inline', 'distributed_data_processing/ratings.csv', '-o', 'distributed_data_processing/haters'])
with movie_haters.make_runner() as runner:
    runner.run()
    # print first ten results
    for i, (key, value) in zip(range(10), movie_haters.parse_output(runner.cat_output())):
        print(i, key, value)

# Supplementary
To see the actual movie names.

In [ ]:
from distributed_data_processing.movie_id_to_name import MovieIdToName
joining_names = MovieIdToName(args=['-r', 'inline', 'distributed_data_processing/top', '-o', 'distributed_data_processing/top_readable'])
with joining_names.make_runner() as runner:
    runner.run()
    for i, (key, value) in zip(range(10), joining_names.parse_output(runner.cat_output())):
        print(value)